<div class="main-container">
  <h2>Shortest Path Between Two Users</h2>

  <form >
    <div class="form">
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="input2">Player's email</label>
          <input #input2 class="form-control" id="input2"/>
        </div>
      </div>
      <div class="form-row">
        <button class="btn btn-primary shortestPath-button" id="getPath"(click)="getShortestPath(input2.value)"> Get Shortest Path </button>
      </div>
    </div>
  </form>
  <div>
    <table class="path-result">
      <thead>
      <tr>
        <th>Path</th>
      </tr>
      </thead>
      <tr *ngFor="let path of shortestPath.Path">
        <th>{{path}}</th>
      </tr>
      <th><tr>{{shortestPath.Value}}</tr></th></table>
  </div>
</div>
