<div class="page-heading">
  <div class="media clearfix">
    <div class="media-left pr30">
      <a href="#">
        <img class="media-object mw150" src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="...">
      </a>
    </div>
    <div class="media-body va-m">
      <h2 class="media-heading" id="profilename">{{name}}
        <small> - Profile</small>
      </h2>
      <div class="media-links">
        <ul class="list-inline list-unstyled">
          <li>
            <a href="" title="facebook link" id="facebook-link">
              <span class="fa fa-facebook-square fs35 text-primary"></span>
            </a>
          </li>
          <li class="hidden">
            <a href="" title="linkedin link" id="linkedin-link">
              <span class="fa fa-linkedin-square fs35 text-info"></span>
            </a>
          </li>
          <li class="">
            <a  title="" id="phoneNumber">
              <span class="fa fa-phone-square fs35 text-system"></span>
            </a>
          </li>
          <li>
            <a  title="" id="email-link">
              <span class="fa fa-envelope-square fs35 text-muted"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
